{
  "db": {
    "host": "mongodb://mongoyourdbhost"
  },
  "api": {
    "port": 3000
  },
  "token": {
    "expiry": "1 day",
    "secret": "yoursecretgoeshere",
    "issuer": "http://yourdomain",
    "audience": "http://your/api/url"
  }
}